@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/roboto/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant";
    src: url("/assets/fonts/cormorant/CormorantGaramond-Regular.ttf") format("truetype")
}

@font-face {
  font-family: 'saira';
  src: url('/assets/fonts/saira/Saira-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    user-select: none;
    background-color: black;
    background-image: url("/assets/images/background.jpg");
    background-size: contain;
    background-position: center;
}

#root {
    max-width: fit-content;
    height: auto;
}

.app {
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    transition: all 1s;
    scale: 0.02;
}

.projectsTab {
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
}

.contentTab {
    transition: all 2s;
    scale: 0.02;
}

.aboutMeTab {
    font-family: "Roboto";
    align-self: center;
    justify-self: center;
    font-size: 2em;
    height: 100%;
    width: 80%;
}

.projectDiv {
    display: flex;
    flex-direction: row;
    column-gap: 5em;
    align-self: flex-end;
    margin-right: 6.5%;
    width: 90%;
    height: auto;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
}

.imgDiv {
    max-width: 350px;
    height: auto;
    margin-left: 4%; 
    border-radius: 3px;
    align-self: center;
    justify-self: center;
    box-sizing: content-box;
}

.projectLink {
    font-size: 1.25em;
    color: rgba(255, 255, 255, 0.9);
}

.projectLink:hover {
    scale: 1.05;
    color: goldenrod;
}

.projectTextDiv {
    font-family: "saira";
    display: flex;
    row-gap: 0.9em;
    text-align: justify;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 1% 3% 0;
    color: rgba(255, 255, 255, 0.8);
}

.projectTitle {
    font-family: "saira";
    font-size: 1.6em;
    color: rgb(238, 163, 0);
}

.projectDescription {
    font-family: "Roboto";
    padding-right: 4%;
    text-align: center;
    line-height: 1.7em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.headerTitle {
    font-family: "Cormorant";
    font-size: 6.5em;
    padding-top: 2.5%;
    align-self: flex-end;
    color: rgb(241, 241, 241);

}

.navBar, .navBarTabs, .navBarLinks, a{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    align-self: center;
    column-gap: 2em;
    text-decoration: none;
    cursor: pointer;
    font-family: "Roboto";
    color: rgb(241, 241, 241);
    font-size: 1.05em;
}

.navBar {
    align-self: flex-end;
    margin-bottom: 1%;
}

.tabButton {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 1em;
    align-self: center;
    color: rgb(241, 241, 241);
}

.tabButton:hover {
    color: goldenrod;
}

a:hover {
    color: goldenrod;
}

.languageSelect {
    color: goldenrod;
    background-color: rgb(29, 29, 29);
    border: 1.5px solid white;
    padding: 0.3em;
}

.aboutMeText {
    font-size: 0.65em;
    font-family: "Roboto";
    text-align: justify;
    padding: 5% 5% 5% 5%;
    line-height: 1.5em;
    color: rgb(88, 88, 88);
    background-color: rgba(255, 255, 255, 0.808);
}

.keyword {
    color: rgb(131, 86, 4);
}

@media (max-width: 700px) {
    *{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 2em;
    }

    .navBarTabs, .navBarLinks {
        font-size: .85em;
        display: flex;
        flex-direction: row;
    }

    .navBar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .projectDiv {
        max-width: 100%;
        margin: auto;
        padding: 3%;
    }

    .projectTextDiv {
        padding: 2%;
    }

    .imgDiv {
        object-fit: contain;
        max-width: 100%;
        height: auto;
        margin: 5% 6% 0 5%; 
        padding: 0;
        scale: 0.95;
        border: none;
        overflow: hidden;
    }
    .headerTitle {
        padding-top: 5%;
        font-size: 3em;
    }
}